body{background: #e8e8e8;}
.zc_mw,.zc_mw1{
	width: 90%;
	background: #fff;
	margin-top: 30px;
	padding-left:5% ;
	padding-right: 5%;
	border: none;
}
.weui-cell{
	padding: 0;
	height: 50px;
	border-bottom: 1px solid #eaeaea; 
}
.weui-cell__hd {width: 30%;}
.weui-cell__bd{margin-left: 10px;width: 62%;}
.weui-cell__ft{width: 8%;color: #ff3c50;}
.zc_bd {padding: 30px 15px 15px 15px;}
.btn_cc {background: #eb4746;}
.zc_bd input{height: 45px;}


































