<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eduEntities" connectionString="metadata=res://*/EduDb.csdl|res://*/EduDb.ssdl|res://*/EduDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.225.101.119;initial catalog=CSAPI;user id=an;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>